# dependencies
node_modules/
.pnp
.pnp.js

# expo
.expo/
dist/
web-build/
expo-env.d.ts
*.orig.*

# native
apps/app/ios/
apps/app/android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# cloudflare / wrangler
.wrangler/
apps/website/build/

# vite / react-router
.react-router/

# env
.env
.env.*.local
.env.local

# misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.tmp/
coverage/

# IDE
.idea/
.vscode/
*.tsbuildinfo
