<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>refranesMexicanos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>refranesMexicanosWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77234CF71B858F6C00823835</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B159871B14BB9F009A8EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B1599E1B14BB9F009A8EAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77ED832B1B38E1A000305A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
